/* line 3, ../../../app/stylesheets/application.sass */
body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

/* line 9, ../../../app/stylesheets/application.sass */
a {
  color: blue;
}
/* line 11, ../../../app/stylesheets/application.sass */
a img {
  border: none;
}

/* line 14, ../../../app/stylesheets/application.sass */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 19, ../../../app/stylesheets/application.sass */
#container {
  width: 75%;
  margin: 0 auto;
  background: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

/* line 27, ../../../app/stylesheets/application.sass */
#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

/* line 33, ../../../app/stylesheets/application.sass */
#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}

/* line 37, ../../../app/stylesheets/application.sass */
#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}

/* line 42, ../../../app/stylesheets/application.sass */
.fieldWithErrors {
  display: inline;
}

/* line 45, ../../../app/stylesheets/application.sass */
.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 54, ../../../app/stylesheets/application.sass */
.error_messages h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #cc0000;
  color: white;
}
/* line 63, ../../../app/stylesheets/application.sass */
.error_messages p {
  margin: 8px 10px;
}
/* line 65, ../../../app/stylesheets/application.sass */
.error_messages ul {
  margin: 0;
}

/* line 68, ../../../app/stylesheets/application.sass */
#user_nav {
  float: right;
  font-size: 12px;
}
