<% if @message %>
  $('#flash_alert').html("<p>" + "<%= raw(@message) %>" + "</p>");
  $('#flash_alert').slideDown();

  window.setTimeout(function() {
    $('#flash_alert').slideUp();
  }, 6000)
<% end %>
$("#task_action").show();
$('#task_form').slideUp(3000);
$("#tasks").html("<%= escape_javascript( render("tasks") ) %>");

