$primary_color: #4b7399;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px; }; }

a {
  color: blue;
  img {
    border: none; } }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice,
#flash_error,
#flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error,
#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font: {
    size: 12px; };
  h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font: {
      weight: bold;
      size: 12px; };
    background-color: #cc0000;
    color: white; }
  p {
    margin: 8px 10px; }
  ul {
    margin: 0; } }

#user_nav {
  float: right;
  font-size: 12px; }

h1 {
  font-size: 16px;
  text-decoration: none;
  color: #666699;
  margin-bottom: 5px; }

table {
  background: #fff;
  width: 100% }
  th {
    color: white;
    background: #666699;
    font-weight: bold;
    padding: 0.5em;
    white-space:nowrap; }
    a {
      color: #666699;
      text-decoration: underline; }
  td {
    padding: 0.5em; }
  tr.even td {
    background: #ddd; }
  tr.odd td {
    background: #eee; }

